body {
	margin: 20px;
	background-color: #F7EDF0;
	font-family: Times New Roman, sans-serif;
}


.header {
	font-size: 24px;
	color: #101D42;
	padding-bottom: 0px;
}

h1 {
	margin-top: 0px;
	margin-bottom: 0px;
}

.subhead {
	font-size: 14px;
	padding-left: 16px;
	color: #101D42;
	margin-top: 0px;
}

.byline {
	font-size: 18px;
	padding-left: 32px;
	border-bottom: 1px;
	border-bottom-style: solid;

}

.data1 {
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	max-width: 800px;
}

.data2 {	
	margin-left: 5%;
	margin-right: 5%;
	max-width: 100%;
}

.data3 {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;

}

.story {
	font-size: 18px;
	margin-bottom: 50px;
	margin-right: auto;
	margin-left: auto;
	max-width: 800px;
}

a {
	color: red;
	text-decoration-color: pink;
}